.SectionTwo{
    height: 90vh;
    width: 100vw;
    background: #eee;
    overflow-x: hidden;
    
}
/* .container{
    width: 100vw !important;
    background: #eee !important; 
    width: 1400px !important;
} */